.nav {
  position: fixed;
  width: 100vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  top: 0;
  background-color: #061728;
  z-index: 1;
}
.link_wrappers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links {
  cursor: pointer;
  margin-left: 1rem;
}

.nav_links:hover {
  color: #fcbc1d;
}

.user_name {
  cursor: pointer;
  font-size: 1.5em;
  color: #fcbc1d;
  font-weight: bolder;
}

.burger_menu {
  display: none;
}

.mobile_nav {
  display: none;
}
@media (width <= 900px) {
  /* … */
  .link_wrappers {
    display: none;
  }
  .burger_menu {
    display: block;
  }
  .mobile_nav {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: whitesmoke;
    width: 100vw;
    padding: 0.5rem;
    position: fixed;
    top: -100%;
    transition: all 0.5s ease-in;
    /* right: 0; */
  }
  .mobile_nav_active {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: whitesmoke;
    width: 100vw;
    padding: 0.5rem;
    position: fixed;
    top: 10%;
    transition: all 0.5s ease-in;
  }
}
